html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

nav, .img-fluid {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(1px);
    position:absolute;
}

.nav-link, .navbar-brand 
{
    font-family: "Roboto",sans-serif;
}


body {
    background-image: url("/imagens/pexels-drift-shutterbug-2085998.jpg");
    width: 100vw;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0px;
}

.intro-text {
    font-family: 'Roboto', sans-serif;
    color: white;
    margin-top: 150px;
}

.home-container{
    display:flex;
    justify-content:center;
    align-items:center;
}


.top-text
{
    font-size:2rem;
    display:flex;
    justify-content:center;
    align-items:center;

}
.nome {
    
    color: #ff8d00;
}

.texto-digitado:after {
    content: "|";
    margin-left: 5px;
    width: 24ch;
    animation: blink 0.7s steps(24) infinite normal;
    overflow: hidden;
}

@keyframes blink
{
    0% {opacity: 1}
    100%{opacity: 0}
}

.about-container {
    font-family: "Roboto",sans-serif;
    position: relative;
    height: 100%;
    width: 100%;
    max-width:1119px;
    max-height:500px;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 100px;
    margin-bottom:150px;
}

.about-text
{
  
    font-size:18px;
}

.skills
{
    position:relative;
    display:flow;
    align-items:center;
    justify-content:right;
    margin-left:100px;
}

.projects-title
{
    font-family:"Roboto",sans-serif;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:100px;
}

.carousel-text
{
    font-family:"Roboto",sans-serif;
}


.contact-me
{
    position:absolute;
}