<article class="about-container" id="about">

	<div class="about-text">
		<p> <h1 class="text-light"><strong>About Me</strong></h1>
			<br />
	  <p class="text-light">I'm a computer science student in love with technology, </br>
		and for more than a year I have been trying to constantly 
		evolve in my studies.</br>
		I have a vast library of personal projects (some still in development) and <br />
		I am currently looking for an opportunity to enter the programming market.
	  </p>

	  <a href="/imagens/resume_jose_henrique_oliveira_de_carvalho.pdf" class="btn btn-outline-light btn-lg" download>Download CV &nbsp; <i class="fa-solid fa-download"></i> </a>
	   <a href="https://github.com/jose15000" target="_blank" class="btn btn-outline-light btn-lg"> <i class="devicon-github-plain"></i></a>
	   <a href="https://www.linkedin.com/in/jos%C3%A9-henrique-oliveira-de-carvalho-871062224/" target="_blank" class="btn btn-outline-light btn-lg"> <i class="devicon-linkedin-plain"></i></a>
	</div>
	<div class="skills">
		<h1 style="font-family:'Roboto'; color:white; margin-bottom:20px;"><strong>Skills</strong></h1>
		<br />
		<i class="devicon-github-original" style="font-size:50px;"></i>
		<i class="devicon-html5-plain-wordmark colored" style="font-size:60px;"></i>
		<i class="devicon-css3-plain-wordmark colored" style="font-size:60px;"></i>
		<br />
		<div style="margin-top:10px;">
			<i class="devicon-bootstrap-plain colored" style="font-size:60px;"></i>
			<i class="devicon-csharp-plain colored" style="font-size:60px;"></i>
			<i class="devicon-dotnetcore-plain colored" style="font-size:60px;"></i>
		</div>
	</div>

</article>



