
<h1 class="text-light" style="font-family:'Roboto'; display:flex; justify-content:center; align-items:center; margin-top:100px;
"><strong>Contact Me</strong></h1>


<form action="" style="width:300px; margin:auto;" novalidate>
  <div class="form-group">
    <label for="exampleInputEmail1" class="text-light">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
  </div>
  <br />
  <div class="form-group">
    <label for="exampleInputPassword1" class="text-light">Name</label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Name">
  </div>
  <br />
  <div class="form-group">
     <label class="text-light" for="subject">Subject:</label>
    <textarea class="form-control" id="subject" rows="3" placeholder="Subject:"></textarea>
  </div>
  <br />
  <button type="submit" class="btn btn-success">Submit</button>
</form>