

<div class="home-container" id="home">
		<div class="intro-text">
		<p class="top-text">Hello, World! </p>
	  <h1 style="display:flex; justify-content:center; align-items:center; padding-bottom: 10px;"><strong>I'm <span class="nome">José Henrique</span></strong></h1>
	  <h2 style="display:flex; justify-content:center; align-items:center;">and I'm a Web developer</h2>
	 
	  <br />
	  
	  <a asp-controller="Home" asp-action="About" class="btn btn-outline-light" style=" width:200px; margin:auto; display:flex; justify-content:center; align-items:center; border-radius:20px;">About me</a>

	</div>
</div>

