

<div class="container" id="home">
		<div class="intro-text">
		<p class="top-text">HELLO, WORLD! </p>
	  <h1>MY NAME IS <span class="nome">Jose Henrique</span></h1>
	  <h2>and I'm    a <span class="texto-digitado">Web developer</span></h2>

	  <a href="#about" class="btn btn-success btn-lg " >About Me</a>
	 
	  <br />
	  
	</div>
</div>


	
<article class="about-container" id="about">
	
	<div class="about-text">
		<p> <p class="text-light">About me:</p>
	  <p class="text-light">I'm  &nbsp; a  &nbsp; computer  &nbsp; science  &nbsp; student  &nbsp; madly  &nbsp; in  &nbsp; love  &nbsp; with  &nbsp; technology, </br>
		and  &nbsp; for  &nbsp; more &nbsp; than &nbsp; a  &nbsp; year   &nbsp;I  &nbsp; have   &nbsp; been  &nbsp; trying  &nbsp; to  &nbsp; constantly 
		&nbsp; evolve &nbsp; in  &nbsp; my &nbsp; studies.</br>
		I &nbsp; have &nbsp; a &nbsp; vast &nbsp; library &nbsp; of &nbsp;  personal &nbsp; projects &nbsp; (some &nbsp; still &nbsp; in &nbsp; development) &nbsp; and <br />
		I &nbsp; am &nbsp;  currently &nbsp; looking &nbsp; for &nbsp;  an &nbsp; opportunity &nbsp; to &nbsp; enter &nbsp; the &nbsp; programming &nbsp; market.
	  </p>
	  
	  
	   <a href="https://github.com/jose15000" target="_blank" class="btn btn-outline-light btn-lg"> <i class="devicon-github-plain"></i> &nbsp; My github</a>
	   <a href="https://www.linkedin.com/in/jos%C3%A9-henrique-oliveira-de-carvalho-871062224/" target="_blank" class="btn btn-outline-light btn-lg"> <i class="devicon-linkedin-plain"></i> &nbsp; My Linkedin</a>
	   <br /><br />
	   <a href="/imagens/resume_jose_henrique_oliveira_de_carvalho.pdf" class="btn btn-light btn-lg" download>Download cv &nbsp; <i class="fa-solid fa-download"></i> </a>
	   <br /><br />

	   <div class="experiencia">
	<p class="txt text-light">Knowledge</p>
		   <i class="devicon-html5-plain"  style="font-size:50px; color:black;"></i>

			<i class="devicon-css3-plain" style="font-size:50px; color:black;"></i>
			<i class="devicon-java-plain"  style="font-size:50px;color:black;"></i>

			<i class="devicon-javascript-plain"  style="font-size:50px;color:black;"></i>

			<i class="devicon-csharp-plain" style="font-size:50px;color:black;"></i>

			<i class="devicon-dotnetcore-plain" style="font-size:50px;color:black;"></i>
	   </div>

	   
	   
	   <img class="pixel-art" src="/imagens/pixelart.gif"/>
	   <br />
	</div>
</article>
<br />

<section class="projects-container">
	<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
  <div class="carousel-indicators">
	<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
	<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
	<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
	<div class="carousel-item active">
	  <img src="/imagens/TodoApp-Google-Chrome-2022-12-01-18-06-17.gif" class="d-block w-100" alt="TodoApp">
	</div>
	<div class="carousel-caption d-none d-md-block">
		<h5>TodoApp</h5>
		<p>A simple todo list web app</p>
	  </div>
	<div class="carousel-item">
	  <img src="/imagens/Captura de tela_20221125_230709.png" class="d-block w-100" alt="TodoApp">
	</div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
	<span class="carousel-control-prev-icon" aria-hidden="true"></span>
	<span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
	<span class="carousel-control-next-icon" aria-hidden="true"></span>
	<span class="visually-hidden">Next</span>
  </button>
</div>
</section>

	
	  

	  

