<div class="container" id="home">
		<div class="intro-text">
		<p class="top-text">OLA, MUNDO! </p>
	  <h1>MEU NOME E <span class="nome">Jose Henrique</span></h1>
	  <h2>e eu sou um <span class="texto-digitado">desenvolvedor web</span></h2>

	  <a href="#about" class="btn btn-success" >Sobre mim</a>

	  <br />

	</div>
</div>



<article class="about-container" id="about">

	<div class="about-text">
		<p> <p class="text-light">Sobre Mim:</p>
	  <p class="text-light">
		Sou &nbsp; um &nbsp; estudante &nbsp; de &nbsp; ciencia &nbsp; da &nbsp; computaçao&nbsp; apaixonado 
		&nbsp; por &nbsp; tecnologia,<br />
		e &nbsp; ha &nbsp; mais &nbsp; de &nbsp; um &nbsp; ano &nbsp; venho &nbsp;buscando &nbsp; evoluir &nbsp;
		constantemente &nbsp; nos &nbsp; meus &nbsp; estudos.<br />
		Tenho &nbsp; uma &nbsp; vasta &nbsp; biblioteca &nbsp; de &nbsp; projetos &nbsp; pessoais (alguns ainda em desenvolvimento) <br />
		e &nbsp; Atualmente,&nbsp; estou &nbsp; procurando &nbsp; uma &nbsp; oportunidade &nbsp; de &nbsp; entrar &nbsp; no &nbsp; mercado &nbsp; de &nbsp; 
		programaçao.
	  </p>


	   <a href="https://github.com/jose15000" target="_blank" class="btn btn-outline-light btn-lg"> <i class="devicon-github-original"></i> &nbsp; Meu Github</a>

	   <a href="https://www.linkedin.com/in/jos%C3%A9-henrique-oliveira-de-carvalho-871062224/" target="_blank" class="btn btn-outline-light btn-lg"> <i class="devicon-linkedin-plain"></i> &nbsp; Meu Linkedin</a>
	   <br /><br />
	   <a href="/imagens/resume_jose_henrique_oliveira_de_carvalho.pdf" class="btn btn-light btn-lg" download>Baixar cv &nbsp; <i class="fa-solid fa-download"></i> </a>
	   <br /><br />

	   <div class="experiencia">
	<p class="txt text-light">Conhecimentos:</p>
		   <i class="devicon-html5-plain"  style="font-size:50px; color:black;"></i>

			<i class="devicon-css3-plain" style="font-size:50px; color:black;"></i>
			<i class="devicon-java-plain"  style="font-size:50px;color:black;"></i>

			<i class="devicon-javascript-plain"  style="font-size:50px;color:black;"></i>

			<i class="devicon-csharp-plain" style="font-size:50px;color:black;"></i>

			<i class="devicon-dotnetcore-plain" style="font-size:50px;color:black;"></i>
	   </div>



	   <img class="pixel-art" src="/imagens/pixelart.gif"/>
	   <br />
	</div>
</article>
<br />




 <div class="projects text-light">
			<p>Meus projetos</p>
			<img src="/imagens/TodoApp-Google-Chrome-2022-12-01-18-06-17.gif" style="max-heigth:600px; max-width:300px;"/>
			<br /><br />
			<span>TodoApp - Uma lista de tarefas simples</span>
			<br /><br />
			<a href="" class="btn btn-outline-success"><i class="devicon-github-original"></i> Repositorio:</a>
		</div>

















