<h1 class="projects-title text-light" ><strong>My projects</strong></h1>
<br />


<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card bg-dark h-100">
      <img src="/imagens/TodoApp-Google-Chrome-2022-12-01-18-06-17.gif" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-light">TodoApp</h5>
        <p class="card-text text-light">TodoApp is a simple todo list web app created with ASP.Net MVC and uses SQLite as database.</p>
        <br />
        <a href="https://github.com/jose15000/TodoApp" target="_blank" class="btn btn-outline-light">See Repository</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card bg-dark text-light h-100">
      <img src="/imagens/qrcode-qrcodegenerator-Google-Chrome-2022-12-22-23-47-50.gif" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">QR Code Generator</h5>
        <p class="card-text">Is a simple web app that generates a QR Code from a string of text. Was created using ASP.Net MVC and consuming the google API for QR Codes.</p>
        <a href="https://github.com/jose15000/qrcodegenerator" target="_blank" class="btn btn-outline-light">See Repository</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card bg-dark text-light h-100">
      <img src="https://fakeimg.pl/1376x728/?text=Coming+Soon" class="card-img-top" alt="coming soon">
      <div class="card-body">
        <h5 class="card-title">Coming Soon</h5>
      </div>
  </div>
</div>