
<section class="about"> <p class="about text-light">Sobre mim:</p>
	  <p class="text-light">Sou um estudante de ciência da computação perdidamente apaixonado por tecnologia, </br>
	  e há mais de um ano tenho buscado evoluir constantemente nos estudos.</br>
	  Possuo uma vasta biblioteca de projetos pessoais (alguns ainda em desenvolvimento) e <br />
	  atualmente, procuro uma oportunidade para ingressar no mercado de programação.
	  </p></section>